@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  font-size: 62.5%;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

.button2 {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  background-color: rgb(240, 134, 215);
  border-radius: 20px;
  border: 5px solid rgb(9, 9, 62);
  font-style: normal;
  font-weight: 1000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
}
body {
  color: white;
  font-size: 1.4rem;
  position: relative;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  background-color: black;
  background-image: url(./images/img.gif);
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.video-container {
  width: 100%;
  max-width: 800px;
}

#video-player {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-left: 50px;
  border: 15px solid rgb(144, 168, 208);
  border-radius: 50px;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
}

a {
  text-decoration: none;
}

svg {
  font-size: 8rem;
  font-weight: 700;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo2 {
  width: 125px;
}
.logoInu img {
  width: 500px;
  height: 500px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 125px;
  height: 125px;
}

.text {
  fill: none;
  stroke-width: 2;
  text-transform: uppercase;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  animation: stroke 6s infinite linear;
  -webkit-animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #81fff2;
  animation-delay: -1.2s;
  -webkit-animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
  stroke: #81ffbf;
  animation-delay: -2.4s;
  -webkit-animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #ffa583;
  animation-delay: -3.6s;
  -webkit-animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #fff3a0;
  animation-delay: -4.8s;
  -webkit-animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #fafcf8;
  animation-delay: -6s;
  -webkit-animation-delay: -6s;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

.heading {
  position: relative;
  font-size: 4.8rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.heading2 {
  position: relative;
  font-size: 4.8rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 60px;
}

.heading .light {
  color: #7bffbb;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #e9de0d,
    #fabe0a,
    #d80303,
    #e40202,
    #c8180b,
    #ef4705,
    #f9970e,
    #7697ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 125%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 0;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 28px #ffffff1f;
  z-index: 9999;
}

ul,
li {
  list-style: none;
}

.list {
  display: flex;
  justify-content: center;
  gap: 0 55px;
}

.list li a {
  color: rgb(220, 220, 220);
  letter-spacing: 0.2px;
  cursor: pointer;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -999;
}

section span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  animation: animate 9s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-900px);
    opacity: 0;
  }
}

section span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #b4b4b4, transparent);
}

section span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}

section span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: -0.2s;
  animation-duration: 3s;
}

section span:nth-child(3) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: -0.4s;
  animation-duration: 2s;
}

section span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: -0.6s;
  animation-duration: 1.5s;
}

section span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: -0.8s;
  animation-duration: 2.5s;
}

section span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}

section span:nth-child(7) {
  top: 300px;
  right: 0;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}

section span:nth-child(8) {
  top: 0;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

section span:nth-child(9) {
  top: 0;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}

section span:nth-child(10) {
  top: 0;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}

@media (max-width: 425px) {
  header {
    display: none;
  }
  .text {
    stroke-width: 3;
  }
  .logo {
    width: 75px;
  }
  svg {
    font-size: 14.2rem;
    margin: 25px 0;
  }
  .heading {
    font-size: 2rem;
    font-weight: 500;
  }
}
